<!-- Begin Hero Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section">
    {% include navigation.html %}
    <div class="slider-hero">
        <div style="background-image: url('{{site.baseurl}}/img/sections-background/slide2.jpg');"></div>
        <div style="background-image: url('{{site.baseurl}}/img/sections-background/slide0.jpg');"></div>
        <div style="background-image: url('{{site.baseurl}}/img/sections-background/slide3.jpg');"></div>
    </div>
    <div class="content-wrapper">
    <div class="jumbotron">
        <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
            {% assign heroText = site.heroTitle | split:"<typeout>" %}
            <h1>{{ heroText[0] }}<span id="typeout-text" class="hidden-xs"></span><span class="typeout-fallback">{{ site.typeoutFallback }}</span>{{ heroText[1] }}</h1>
            <p><strong>{{ site.eventDate }}</strong></p>
            </div>
        </div>
    </div>
    <a href="#about" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
    </div>
</section>
<!-- End Hero Section -->
